.tab-pane {
    border: solid 1px #ddd;
    border-top: none;
    border-radius: 4px;
}
.column {
    margin: auto;
    width: auto;
    padding: 9%;
}
.tabbable {
    margin-bottom: 1em;
}
.tab-pane {
    padding: 1em;
}