.version.index /* version checker */
{
	color: #000015;
	background-color: #E78E5C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 990px;
	min-height: 2665.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 137px;
	padding-bottom: 459px;
	width: 0.01px;
}

#u985
{
	z-index: 187;
	height: 120px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u985-bw
{
	z-index: 187;
}

#u154
{
	z-index: 204;
	width: 390px;
	height: 402px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000000 url("../images/img_20150718_111115.jpg") no-repeat center center;
	background-size: cover;
}

#u989
{
	z-index: 189;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -495px;
	background: transparent url("../images/img_20150718_111115-u989-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u148
{
	z-index: 188;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -105px;
	background: #4FC0E9 url("../images/user.png") no-repeat center center;
}

#u148:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -105px;
	background: #46ACCE url("../images/user.png") no-repeat center center;
}

#u150
{
	z-index: 190;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -5px;
	background: #A8D32A url("../images/portfolio.png") no-repeat center center;
}

#u150:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -5px;
	background: #94BA25 url("../images/portfolio.png") no-repeat center center;
}

#u152
{
	z-index: 191;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 95px;
	background: #F7931E url("../images/envelope.png") no-repeat center center;
}

#u152:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 95px;
	background: #DD821A url("../images/envelope.png") no-repeat center center;
}

#u174
{
	z-index: 193;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 195px;
	background: #E6162D url("../images/sina_weibo_l.png") no-repeat center center;
}

#u174:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 195px;
	background: #CB162D url("../images/sina_weibo_l.png") no-repeat center center;
}

#u172
{
	z-index: 192;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 295px;
	background: #20BAFC url("../images/instagram_l.png") no-repeat center center;
}

#u172:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 295px;
	background: #1DA7E2 url("../images/instagram_l.png") no-repeat center center;
}

#u187
{
	z-index: 194;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 395px;
	background: #EA4B89 url("../images/dribbble.png") no-repeat center center;
}

#u187:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 395px;
	background: #D1427B url("../images/dribbble.png") no-repeat center center;
}

#u986-4
{
	z-index: 195;
	width: 220px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -378px;
}

#u1005-4
{
	z-index: 199;
	width: 213px;
	min-height: 23px;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	line-height: 22px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: -374px;
}

#u1279-4
{
	z-index: 167;
	width: 398px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	text-align: left;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 431px;
	position: relative;
}

#u1279-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1279
{
	font-size: 35px;
	color: #7F7F7F;
	line-height: 42px;
}

#u1280-4
{
	z-index: 171;
	width: 398px;
	min-height: 23px;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 431px;
	margin-top: 4px;
	position: relative;
}

#pemployment
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#employment
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 96px;
}

#u1281-6
{
	z-index: 175;
	width: 518px;
	min-height: 172px;
	background-color: transparent;
	line-height: 29px;
	text-align: left;
	font-size: 17px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 531px;
}

#pu1014-4
{
	width: 0.01px;
	margin-top: 40px;
}

#u1014-4
{
	z-index: 7;
	width: 277px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1049
{
	z-index: 75;
	width: 717px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 273px;
}

#pu1016-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 13px;
}

#u1016-4
{
	z-index: 15;
	width: 213px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	line-height: 22px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 171px;
	border-width: 0px 1px 0px 0px;
}

#u1018-4
{
	z-index: 19;
	width: 213px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	line-height: 22px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 171px;
	border-width: 0px 1px 0px 0px;
}

#u1020-4
{
	z-index: 23;
	width: 213px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	line-height: 22px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 688px;
	border-width: 0px 1px 0px 0px;
}

#u1021-4
{
	z-index: 27;
	width: 213px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	line-height: 22px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 688px;
	border-width: 0px 1px 0px 0px;
}

#u1022-4
{
	z-index: 31;
	width: 141px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 414px;
}

#u1024-3
{
	z-index: 35;
	width: 141px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 414px;
}

#u1026-3
{
	z-index: 38;
	width: 141px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 931px;
}

#u1027-3
{
	z-index: 41;
	width: 141px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 931px;
}

#u1028-4
{
	z-index: 44;
	width: 384px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 171px;
}

#u1030-4
{
	z-index: 48;
	width: 384px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 171px;
}

#u1034-4
{
	z-index: 52;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	line-height: 21px;
	text-align: left;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 101px;
}

#u1036-4
{
	z-index: 56;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	line-height: 21px;
	text-align: left;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 101px;
}

#u1038-5
{
	z-index: 60;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	line-height: 21px;
	text-align: left;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 618px;
}

#u1039-4
{
	z-index: 65;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	line-height: 21px;
	text-align: left;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 618px;
}

#u1040
{
	z-index: 69;
	width: 1px;
	height: 325px;
	border-color: #000000;
	background-color: #CDEAF2;
	position: relative;
	margin-right: -10000px;
	left: 594px;
}

#u1041
{
	z-index: 70;
	width: 990px;
	height: 1px;
	border-color: #000000;
	background-color: #CDEAF2;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 100px;
}

#u1043
{
	z-index: 71;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 101px;
	background: #55C1E7 url("../images/employment.png") no-repeat center center;
}

#u1045
{
	z-index: 72;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 101px;
	background: #55C1E7 url("../images/employment.png") no-repeat center center;
}

#u1047
{
	z-index: 73;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 618px;
	background: #55C1E7 url("../images/employment.png") no-repeat center center;
}

#u1048
{
	z-index: 74;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 618px;
	background: #55C1E7 url("../images/employment.png") no-repeat center center;
}

#skill
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 210px;
}

#pu1015-4
{
	width: 0.01px;
	margin-top: 52px;
}

#u1015-4
{
	z-index: 11;
	width: 398px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1050
{
	z-index: 76;
	width: 589px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 401px;
}

#pu1051
{
	width: 0.01px;
	margin-top: 27px;
}

#u1051
{
	z-index: 77;
	width: 370px;
	border-color: #000000;
	background-color: #1BA5D7;
	border-radius: 5px;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
}

#u1059-4
{
	z-index: 88;
	width: 199px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#u1450
{
	z-index: 84;
	width: 206px;
	border-color: #000000;
	background-color: #F7931E;
	border-radius: 5px;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1451-4
{
	z-index: 100;
	width: 125px;
	min-height: 23px;
	background-color: #F7931E;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u1052
{
	z-index: 78;
	width: 243px;
	border-color: #000000;
	background-color: #4FC0E9;
	border-radius: 5px;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
}

#u1063-4
{
	z-index: 112;
	width: 165px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#u1057
{
	z-index: 85;
	width: 286px;
	border-color: #000000;
	background-color: #F9A72C;
	border-radius: 5px;
	padding-bottom: 68px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1062-4
{
	z-index: 104;
	width: 173px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u1056
{
	z-index: 83;
	width: 320px;
	border-color: #000000;
	background-color: #7CAE20;
	border-radius: 5px;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
}

#u1061-4
{
	z-index: 96;
	width: 194px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#u1462
{
	z-index: 86;
	width: 207px;
	border-color: #000000;
	background-color: #FBCC3B;
	border-radius: 5px;
	padding-bottom: 71px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1463-4
{
	z-index: 108;
	width: 125px;
	min-height: 23px;
	background-color: #FBCC3B;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 8px;
}

#u1054
{
	z-index: 80;
	width: 178px;
	border-color: #000000;
	background-color: #A9D32A;
	border-radius: 5px;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1065-4
{
	z-index: 120;
	width: 152px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#u1455
{
	z-index: 142;
	width: 185px;
	border-color: #000000;
	background-color: #C7B299;
	border-radius: 5px;
	padding-bottom: 60px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1456-4
{
	z-index: 143;
	width: 112px;
	min-height: 23px;
	background-color: #C7B299;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#pu1058
{
	width: 0.01px;
	margin-top: 3px;
}

#u1058
{
	z-index: 87;
	width: 115px;
	border-color: #000000;
	background-color: #7F46E2;
	border-radius: 5px;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
}

#u1060-4
{
	z-index: 92;
	width: 88px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 6px;
}

#u1453
{
	z-index: 132;
	width: 160px;
	border-color: #000000;
	background-color: #29ABE2;
	border-radius: 5px;
	padding-bottom: 62px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1454-4
{
	z-index: 134;
	width: 97px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 8px;
}

#pu1052,#pu1056,#pu1054,#pu1053
{
	width: 0.01px;
	margin-top: 4px;
}

#u1053
{
	z-index: 79;
	width: 115px;
	border-color: #000000;
	background-color: #9673DD;
	border-radius: 5px;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
}

#u1064-4
{
	z-index: 116;
	width: 78px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}

#u1464
{
	z-index: 133;
	width: 450px;
	border-color: #000000;
	background-color: #8CC63F;
	border-radius: 5px;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1465-4
{
	z-index: 138;
	width: 273px;
	min-height: 23px;
	background-color: #8CC63F;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u1055
{
	z-index: 81;
	width: 83px;
	border-color: #000000;
	background-color: #F7BC6F;
	border-radius: 5px;
	padding-bottom: 65px;
	margin-top: 4px;
	position: relative;
}

#u1066-4
{
	z-index: 124;
	width: 71px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}

#pcontact
{
	width: 0.01px;
	margin-left: -95px;
	margin-top: 4px;
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 32px;
}

#u1460
{
	z-index: 82;
	width: 176px;
	border-color: #000000;
	background-color: #F15A24;
	border-radius: 5px;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u1461-4
{
	z-index: 128;
	width: 151px;
	min-height: 23px;
	background-color: #F15A24;
	color: #FFFFFF;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}

#pu1155-4
{
	width: 0.01px;
	margin-top: 73px;
}

#u1155-4
{
	z-index: 2;
	width: 229px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1156
{
	z-index: 6;
	width: 765px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 225px;
}

#pu1488-4
{
	width: 0.01px;
	margin-top: 14px;
}

#u1488-4
{
	z-index: 183;
	width: 495px;
	min-height: 314px;
	background-color: transparent;
	font-size: 22px;
	line-height: 26px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#pu1494
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 519px;
}

#u1494
{
	z-index: 147;
	width: 50px;
	background-color: transparent;
	position: relative;
}

#u1502
{
	z-index: 161;
	width: 50px;
	background-color: transparent;
	margin-top: 118px;
	position: relative;
}

#pu1500-12
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -2px;
	margin-left: 593px;
}

#u1500-12
{
	z-index: 149;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1508-4
{
	z-index: 163;
	width: 340px;
	min-height: 25px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	margin-top: 28px;
	position: relative;
}

body
{
	position: relative;
	min-width: 990px;
}

#page .verticalspacer
{
	clear: both;
}

